body { 
    margin: 0; 
    height: 100vh;
}

#globe {
    height: 100%;
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.list-group{
    margin-top: 50px;
    max-height: 800px;
    margin-bottom: 10px;
    overflow:scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
